[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = PG-Momik
	email = 57512059+PG-Momik@users.noreply.github.com
